body{
 font-family: 'Roboto', sans-serif;
}
/* header */
.header_top {
  background-color:#fff;
  height: 80px;
  line-height:80px;
  position: fixed;
  z-index: 1;
  width: 100%
}
.header_top img{
  max-height: 30px;
}
.img_right{
  text-align: right;
}
.jumbo{
  margin-top: 50px;
}
.jumbo_item{
  margin-top: 50px;
  margin-left: 150px;
}
.hr_list li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
#li_right{
  margin-left: 80px;
}
.bg_img{
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  height: 500px;
}
.fa-bars{
  margin-left: 150px;
  color: lightblue;
}
h1{
  color: #fff;
  margin-bottom:10px;
  margin-top: 90px;
  font-size: 50px;
}
.jumbo_item p{
  color: lightgrey;
  font-size: 15px;
  margin-bottom: 30px;
}
.white_content{
  background-color: #fff;
  border-radius: 5px;
  width:400px;
  margin-top: 70px;
}
.white_content h2{
  text-align: center;
  margin-top: 10px;
  font-size: 22px;
}
#margintop{
  padding-top: 35px;
  padding-bottom: 0;
}
.width{
  width: 300px;
  margin: 5px;
  border-radius: 3px;
  padding: 3px;
  margin-left:50px;
}
.btn-block{
  padding:3px;
  width: 300px;
  margin: auto;
}

.size{
  font-size: 15px;
}
.grey{
  color: grey;
}
#therms{
  text-align: center;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* fine header */
/* main */
/* prima sezione */
.first_main h4{
  text-align: center;
  color: grey;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}
.first_main ul{
  margin-left:215px;
}
.first_main li{
  list-style: none;
  display: inline-block;
}
.first_main img{
  max-height: 85px;
}
.first_main p{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#little{
  max-height: 70px;
}
.lightgrey{
  background-color: lightgrey;
}
/* fine prima sezione */
.second_main{
  height:350px;
  background-color:red;
}
.second_main_item{
  height: 80px;
  margin:2px;
  background-color: green;
}
.third_main{
  height:150px;
  background-color: yellow;
  margin:5px;
}
.fourth_main{
  height: 150px;
  background-color: black;
  border: 1px solid #fff;
}
.sixth_main{
  height: 150px;
  background-color: orange;
  margin:5px;
}
.seven_main{
  height: 100px;
  background-color: red;
}
.tbl-elmn{
  display: inline-block;
}
.color{
  background-color: blue;
  height:100px;
  border: 1px solid #fff;
}
